<div id="home" class="tab-pane fade in active">
  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>Katalog</h1>
    <p>Perpustakaan Fakultas Ilmu Komputer dan Informatika</p>
    <p>
      <%= form_tag search_catalogs_path, method: :get, remote: true, class: "form-group" do %>
        <%= hidden_field_tag 'category', 'Book' %>
        <div class="input-group input-group-lg">
          <div class="input-group-btn">
            <button aria-expanded="false" type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
              <span class="btn-caption">Pilih Kategori</span> <span class="fa fa-caret-down"></span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a href="javascript:void(0)" class="option" data-category="Book">Buku</a>
              </li>
              <li>
                <a href="javascript:void(0)" class="option" data-category="Theses">Skripsi & Laporan</a>
              </li>
            </ul>
          </div><!-- /btn-group -->
          <%= text_field_tag 'keywords', '', class: "form-control", placeholder: "", required: true %>
        </div>
        <br/>
        <input type="submit" value="Cari" class="btn btn-lg btn-primary search-btn">
      <% end %>
    </p>
  </div>
  <div class="box">
    <div class="box-header">
      <h3 class="box-title"></h3>
    </div>
    <div class="box-body">
      <div class="dataTables_wrapper form-inline dt-bootstrap">
        <div class="row" id="data-table">
          <%#= render 'borrow_books/shared/list' %>
        </div>

        <div class="row">
          <div class="col-sm-7 pull-right">
            <div class="dataTables_paginate paging_simple_numbers">
              <%#= paginate @borrow_books %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="GuestBook" class="tab-pane fade">
  <div class="row">
    <div class="col-xs-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">DATA PENGUNJUNG HARI INI</h3>
        </div>
        <div class="panel-body">
          <% unless @guest_books.blank? %>
            <table class="table table-bordered table-striped dataTable" role="grid">
              <thead>
                <tr>
                  <th>Nama</th>
                  <th>Tanggal</th>
                  <th>Jam</th>
                  <th>Keperluan</th>
                </tr>
              </thead>
              <tbody>
                <% @guest_books.each do |guest_book| %>
                  <tr>
                    <td><%= guest_book.name %></td>
                    <td><%= guest_book.date.in_time_zone('Asia/Jakarta').strftime("%Y-%m-%d") %></td>
                    <td><%= guest_book.date.in_time_zone('Asia/Jakarta').strftime("%I:%M%p") %></td>
                    <td><%= guest_book.necessary %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% else %>
            <p>Tidak ada data</p>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-xs-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Guest Book</h3>
        </div>
        <div class="panel-body">
          <%= form_for @guest_book, class: "form-group" do |f| %>
            <%= f.hidden_field :date, value: Time.now %>
            <div class="row">
              <%= f.label :name, 'Nama', class: 'col-xs-2' %>
              <div class="col-xs-12">
                <%= f.text_field :name, class: 'form-control', placeholder: "Nama Anda" %>
              </div>
            </div>
            <div class="row">
              <%= f.label :from, 'Asal', class: 'col-xs-2' %>
              <div class="col-xs-12">
                <%= f.text_field :from, class: 'form-control', placeholder: "Asal Fakultas / Instansi Anda" %>
              </div>
            </div>
            <div class="row">
              <%= f.label :necessary, 'Keperluan', class: 'col-xs-2' %>
              <div class="col-xs-12">
                <%= f.text_field :necessary, class: 'form-control', placeholder: "Keperluan Anda" %>
              </div>
            </div>
            <div class="row">
              <%= f.label :suggestion, 'Saran', class: 'col-xs-2' %>
              <div class="col-xs-12">
                <%= f.text_area :suggestion, class: 'form-control', placeholder: "Saran Anda untuk Kami" %>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <%= f.submit "Submit", class: "btn btn-primary pull-right" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('body').on('click', '.option', function(){
    var category = $(this).data('category');
    var caption = $(this).text();

    $('#category').val(category);
    $('.btn-caption').text(caption);
  });
</script>