<% if params[:category] == "Book" %>
	$('.box-title').text("Hasil Pencarian '<%= params[:keywords] %>' pada Buku");
	$("#data-table").html("<%= escape_javascript(render 'books/shared/list') %>");
<% else %>
	$('.box-title').text("Hasil Pencarian '<%= params[:keywords] %>' pada Skripsi");
	$("#data-table").html("<%= escape_javascript(render 'theses/shared/list') %>");
<% end %>