<div class="row">
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-aqua">
      <div class="inner">
        <h3><%= Book.count %></h3>
        <p>Buku</p>
      </div>
      <div class="icon">
        <i class="fa fa-book"></i>
      </div>
      <%= link_to books_url, class: "small-box-footer" do %>
        More info <i class="fa fa-arrow-circle-right"></i>
      <% end %>
    </div>
  </div><!-- ./col -->
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-green">
      <div class="inner">
        <h3><%= Thesis.count %></h3>
        <p>Skripsi & Laporan</p>
      </div>
      <div class="icon">
        <i class="fa fa-book"></i>
      </div>
      <%= link_to theses_url, class: "small-box-footer" do %>
        More info <i class="fa fa-arrow-circle-right"></i>
      <% end %>
    </div>
  </div><!-- ./col -->
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-yellow">
      <div class="inner">
        <h3><%= Member.count %></h3>
        <p>Anggota</p>
      </div>
      <div class="icon">
        <i class="fa fa-users"></i>
      </div>
      <%= link_to members_url, class: "small-box-footer" do %>
        More info <i class="fa fa-arrow-circle-right"></i>
      <% end %>
    </div>
  </div><!-- ./col -->
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-red">
      <div class="inner">
        <h3><%= amount_borrow_books %></h3>
        <p>Peminjaman (Aktif)</p>
      </div>
      <div class="icon">
        <i class="fa fa-refresh"></i>
      </div>
      <%= link_to borrow_books_url, class: "small-box-footer" do %>
        More info <i class="fa fa-arrow-circle-right"></i>
      <% end %>
    </div>
  </div><!-- ./col -->
</div><!-- /.row -->

<div class="row">
  <div class="col-md-6">
    <!-- Bar chart -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <i class="fa fa-bar-chart-o"></i>
          <h3 class="box-title">Peminjaman Buku Perbulan</h3>
          <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="box-body">
          <div id="bar-chart" style="height: 300px;"></div>
        </div><!-- /.box-body-->
      </div><!-- /.box -->
  </div>
  <div class="col-md-3">
    <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Kategori Skripsi</h3>
          </div>
        <div class="box-body">
          <% Thesis.group("category").count.map {|category| %>
            <div class="info-box">
              <span class="info-box-icon bg-yellow"><i class="fa fa-files-o"></i></span>
              <div class="info-box-content">
                <span class="info-box-text"><%= category[0] %></span>
                <span class="info-box-number"><%= category[1] %></span>
              </div><!-- /.info-box-content -->
            </div>
          <% } %>
      </div><!-- /.box-body-->
    </div><!-- /.box -->
  </div>
  <div class="col-md-3">
    <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Peminjam Hari Ini</h3>
          </div>
        <div class="box-body">
          <%= BorrowBook.all.where("borrow_date = ?", "#{Time.now.to_date}").count %>
      </div><!-- /.box-body-->
    </div><!-- /.box -->
  </div>
</div>