<%= form_for [@borrow_book, @return_book], html: { class: 'form-group' } do |f| %>
  <div class="modal-body">
    <%= f.hidden_field :borrow_book_id, value: @borrow_book.id %>
    <div class="row">
      <%= f.label :return_date, 'Tanggal Pengembalian', class: 'col-xs-3' %>
      <div class="col-xs-9">
        <%= f.text_field :return_date, value: Time.now, class: 'form-control', 'data-inputmask' => "'alias': 'yyyy-mm-dd'", 'data-mask' => "", readonly: true %>
      </div>
    </div>
    <div class="row">
      <%= f.label :total_fine, 'Total Denda', class: 'col-xs-3' %>
      <div class="col-xs-9">
        <%= f.text_field :total_fine, value: amount_fine(@borrow_book), class: 'form-control', readonly: true %>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col-xs-2 pull-right">
        <input type="submit" value="Proses..." class="btn btn-primary">
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  // Member Area
  $("#return_book_return_date").inputmask("yyyy-mm-dd", {"placeholder": "yyyy-mm-dd"});
</script>