<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <p><%= devise_error_messages! %></p>

    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Login</h3>
      </div><!-- /.box-header -->
      <!-- form start -->
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="box-body">
          <div class="form-group">
            <%= f.label :email, "Email Address" %>
            <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Enter email"  %>
          </div>
          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
          </div>
          <%# if devise_mapping.rememberable? -%>
            <!-- <div class="form-group">
              <div class="col-sm-pull-2">
                <div class="checkbox">
                  <label>
                    <%#= f.check_box :remember_me %> Remember Me
                  </label>
                </div>
              </div>
            </div> -->
          <%# end -%>
        </div><!-- /.box-body -->

        <div class="box-footer">
          <%= f.submit "Sign In", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div><!-- /.box -->
  </div>
</div>