<%= form_for @thesis, html: { class: 'form-group' } do |f| %>
	<div class="modal-body">
	  <div class="row">
		<%= f.label :kind, 'Tipe', class: 'col-xs-3' %>
		<div class="col-xs-6">
		  <%= f.select :kind, options_for_select(Thesis::KIND), {}, class: "form-control" %>
		</div>
	  </div>
	  <div class="row">
		<%= f.label :year, 'Tahun', class: 'col-xs-3' %>
		<div class="col-xs-3">
		  <%= f.text_field :year, class: 'form-control' %>
		</div>
	  </div>
	  <div class="row">
		<%= f.label :title, 'Judul', class: 'col-xs-3' %>
		<div class="col-xs-9">
		  <%= f.text_field :title, class: 'form-control' %>
		</div>
	  </div>
	  <div class="row">
		<%= f.label :category, 'Kategori', class: 'col-xs-3' %>
		<div class="col-xs-6">
		  <%= f.select :category, options_for_select(Thesis::CATEGORY, @thesis.category), {}, class: "form-control" %>
		</div>
	  </div>
	  <div class="row">
		<%= f.label :author, 'Penulis', class: 'col-xs-3' %>
		<div class="col-xs-6">
		  <%= f.text_field :author, class: 'form-control' %>
		</div>
	  </div>
	  <div class="row">
		<%= f.label :guider1, 'Pembimbing 1', class: 'col-xs-3' %>
		<div class="col-xs-6">
		  <%= f.text_field :guider1, class: 'form-control' %>
		</div>
	  </div>
	  <div class="row">
		<%= f.label :guider2, 'Pembimbing 2', class: 'col-xs-3' %>
		<div class="col-xs-3">
		  <%= f.text_field :guider2, class: 'form-control' %>
		</div>
	  </div>
	  <div class="row">
		<%= f.label :description, 'Abstraksi', class: 'col-xs-3' %>
		<div class="col-xs-9">
		  <%= f.text_area :description, class: 'form-control' %>
		</div>
	  </div>
	  <div class="row">
		<%= f.label :media, 'Media?', class: 'col-xs-3' %>
		<div class="col-xs-3">
		  <%= f.check_box :media, class: 'form-control' %>
		</div>
	  </div>
	</div>
	<div class="modal-footer">
	  <div class="row">
		<div class="col-xs-2">
		  <input type="submit" value="Ubah" class="btn btn-primary">
		</div>
	  </div>
	</div>
<% end %>

<script type="text/javascript">
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' // optional
    });

    $("#AddBtn").click(function(){
      $("#Add").modal('show');
    });
  });
</script>