<div class="col-sm-12">
  <% unless @guest_books.blank? %>
    <table class="table table-bordered table-striped dataTable" role="grid">
      <thead>
        <tr>
          <th>Nama</th>
          <th>Tanggal</th>
          <th>Jam</th>
          <th>Keperluan</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @guest_books.each do |guest_book| %>
          <tr>
            <td><%= guest_book.name %></td>
            <td><%= guest_book.date.in_time_zone('Asia/Jakarta').strftime("%Y-%m-%d") %></td>
            <td><%= guest_book.date.in_time_zone('Asia/Jakarta').strftime("%I:%M%p") %></td>
            <td><%= guest_book.necessary %></td>
            <td><%= link_to 'Detail', 'javascript:void(0)', class: "btn btn-primary btn-detail-#{guest_book.id}", onclick: "CallDetail('#{guest_book.id}')" %></td>
          </tr>
          <tr class="detail-<%= guest_book.id %> hide">
            <td colspan="10">
              <div class="row">
                <div class="col-xs-6">
                  <fieldset>
                    <legend>Data Pengunjung</legend>
                      <div class="row">
                        <label class="col-xs-3">Nama</label>
                        <div class="col-xs-9">
                          <%= guest_book.name %>
                        </div>
                      </div>
                      <div class="row">
                        <label class="col-xs-3">Asal</label>
                        <div class="col-xs-9">
                          <%= guest_book.from %>
                        </div>
                      </div>
                      <div class="row">
                        <label class="col-xs-3">Tanggal Kunjungan</label>
                        <div class="col-xs-9">
                          <%= guest_book.date.in_time_zone('Asia/Jakarta').strftime("%Y-%m-%d") %> <%= guest_book.date.in_time_zone('Asia/Jakarta').strftime("%I:%M%p") %>
                        </div>
                      </div>
                      <div class="row">
                        <label class="col-xs-3">Keperluan</label>
                        <div class="col-xs-9">
                          <%= guest_book.necessary %>
                        </div>
                      </div>
                      <div class="row">
                        <label class="col-xs-3">Saran</label>
                        <div class="col-xs-9">
                          <%= guest_book.suggestion %>
                        </div>
                      </div>
                  </fieldset>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>Tidak ada data</p>
  <% end %>
</div>