<div class="col-sm-12">
  <table class="table table-bordered table-striped dataTable" role="grid">
    <thead>
      <tr>
        <th><input type="checkbox"></th>
        <th>Nama</th>
        <th>Lama Pinjam</th>
        <th>Denda Perhari</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @book_types.each do |book_type| %>
        <tr>
          <td><%= check_box_tag :id, book_type.id %></td>
          <td><%= book_type.name %></td>
          <td><%= book_type.borrow_time %></td>
          <td><%= book_type.fine_per_day %></td>
          <td>
			<%= link_to '#', onclick: "CallContent('#{edit_book_type_path(book_type)}')", class: "btn btn-primary" do %>
                <i class="fa fa-edit"></i>
            <% end %>
			<%= link_to book_type, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" do %>
				<i class="fa fa-trash-o"></i>
		    <% end %>
		  </td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <th><input type="checkbox"></th>
        <th>Nama</th>
        <th>Lama Pinjam</th>
        <th>Denda Perhari</th>
        <th></th>
      </tr>
    </tfoot>
  </table>
</div>