setTimeout(function(){
  <% if @borrow_books.count >= BorrowBook::MAXBOOK %>
  	$('input[type="submit"]').attr('disabled', true);
  <% else %>
  	$('input[type="submit"]').attr('disabled', false);
  <% end %>
  $("#history").html("<%= escape_javascript(render 'borrow_books/shared/history') %>");
}, 3000);