<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    <%= params[:controller].gsub("_", " ").titleize rescue "" %>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active"><%= params[:controller] %></li>
  </ol>
</section>