<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <%= image_tag "icons/avatar.png", class: "img-circle", alt: "User Image" %>
      </div>
      <div class="pull-left info">
        <br/>
        <p><%= current_user.email %></p>
      </div>
    </div>
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">MAIN NAVIGATION</li>
      <li>
        <%= link_to root_url do %>
          <i class="fa fa-home"></i> <span>Home</span>
        <% end %>
      </li>
      <li>
        <%= link_to dashboard_index_path do %>
          <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        <% end %>
      </li>
      <li>
        <%= link_to members_url do %>
          <i class="fa fa-users"></i> <span>Anggota</span>
        <% end %>
      </li>
      <li>
        <%= link_to "#", class: 'treeview' do %>
          <i class="fa fa-book"></i>
          <span>Buku</span>
          <i class="fa fa-angle-left pull-right"></i>
        <% end %>

		    <ul class="treeview-menu" style="display: none;">
          <li>
            <%= link_to books_url, class: 'treeview' do %>
              <i class="fa fa-circle-o"></i> <span>Data Buku</span>
            <% end %>
          </li>
          <li>
            <%= link_to book_types_url, class: 'treeview' do %>
              <i class="fa fa-circle-o"></i> <span>Tipe Buku</span>
            <% end %>
          </li>
        </ul>
      </li>
      <li>
        <%= link_to theses_url do %>
          <i class="fa fa-book"></i> <span>Skripsi & Laporan</span>
        <% end %>
      </li>
      <li>
        <%= link_to "#", class: 'treeview' do %>
          <i class="fa fa-exchange"></i>
          <span>Transaksi</span>
          <i class="fa fa-angle-left pull-right"></i>
        <% end %>

        <ul class="treeview-menu" style="display: none;">
          <li>
            <%= link_to borrow_books_url, class: 'treeview' do %>
              <i class="fa fa-circle-o"></i> <span>Peminjaman</span>
            <% end %>
          </li>
          <li>
            <%= link_to return_books_path, class: 'treeview' do %>
              <i class="fa fa-circle-o"></i> <span>Pengembalian</span>
            <% end %>
          </li>
        </ul>
      </li>
      <li>
      <%= link_to guest_books_url do %>
          <i class="fa fa-book"></i>
          <span>Buku Tamu</span>
        <% end %>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>