<%= form_for @book_type, html: { class: 'form-group' } do |f| %>
	<div class="modal-body">
	  <div class="row">
		<%= f.label :name, 'Nama', class: 'col-xs-3' %>
		<div class="col-xs-3">
		  <%= f.text_field :name, class: 'form-control' %>
		</div>
	  </div>
	  <div class="row">
		<%= f.label :borrow_time, 'Lama Pinjam', class: 'col-xs-3' %>
		<div class="col-xs-6">
		  <%= f.text_field :borrow_time, class: 'form-control' %>
		</div>
	  </div>
	  <div class="row">
		<%= f.label :fine_per_day, 'Denda Per Hari', class: 'col-xs-3' %>
		<div class="col-xs-6">
		  <%= f.text_field :fine_per_day, class: 'form-control' %>
		</div>
	  </div>
	</div>
	<div class="modal-footer">
	  <div class="row">
		<div class="col-xs-2 pull-right">
		  <input type="submit" value="Ubah" class="btn btn-primary">
		</div>
	  </div>
	</div>
<% end %>