<%= form_for @book, html: { class: 'form-group' } do |f| %>
	<div class="modal-body">
	  <h4>DATA BUKU</h4><br/>
	  <div class="row">
		<%= f.label :book_code, 'Kode Buku', class: 'col-xs-3' %>
		<div class="col-xs-3">
		  <%= f.text_field :book_code, class: 'form-control' %>
		</div>
	  </div>
	  <div class="row">
		<%= f.label :isbn, 'ISBN', class: 'col-xs-3' %>
		<div class="col-xs-6">
		  <%= f.text_field :isbn, class: 'form-control' %>
		</div>
	  </div>
	  <div class="row">
		<%= f.label :title, 'Judul', class: 'col-xs-3' %>
		<div class="col-xs-6">
		  <%= f.text_field :title, class: 'form-control' %>
		</div>
	  </div>
	  <div class="row">
		<%= f.label :book_type_id, 'Tipe Buku', class: 'col-xs-3' %>
		<div class="col-xs-3">
		  <%= f.select :book_type_id, options_for_select(@book_types, @book.book_type_id), {}, class: "form-control" %>
		</div>
	  </div>
	  <div class="row">
		<%= f.label :language, 'Bahasa', class: 'col-xs-3' %>
		<div class="col-xs-3">
		  <%= f.text_field :language, class: 'form-control' %>
		</div>
	  </div>
	  <div class="row">
		<%= f.label :attachment, 'Cover', class: 'col-xs-3' %>
		<div class="col-xs-9">
		  <%= f.file_field :attachment, class: 'form-control' %>
		</div>
	  </div>
	  <div class="row">
		<%= f.label :class_no, 'No Rak', class: 'col-xs-3' %>
		<div class="col-xs-3">
		  <%= f.text_field :class_no, class: 'form-control' %>
		</div>
	  </div>
	  <!-- <div class="row">
		<%#= f.label :borrow_amount, 'Dipinjamkan', class: 'col-xs-3' %>
		<div class="col-xs-4">
		  <%#= f.text_field :borrow_amount, class: 'form-control' %>
		</div>
	  </div>
	  <div class="row">
		<%#= f.label :read_amount, 'Dibaca', class: 'col-xs-3' %>
		<div class="col-xs-4">
		  <%#= f.text_field :read_amount, class: 'form-control' %>
		</div>
	  </div> -->
	  <!-- <div class="row">
		<%#= f.label :ref_amount, 'Jumlah Ref', class: 'col-xs-3' %>
		<div class="col-xs-4">
		  <%#= f.text_field :ref_amount, class: 'form-control' %>
		</div>
	  </div> -->
	  <div class="row">
		<%= f.label :exptotal, 'Jumlah Buku', class: 'col-xs-3' %>
		<div class="col-xs-4">
		  <%= f.text_field :exptotal, class: 'form-control' %>
		</div>
	  </div>
	  <div class="row">
		<%= f.label :resource, 'Asal Buku', class: 'col-xs-3' %>
		<div class="col-xs-6">
		  <%= f.text_field :resource, class: 'form-control' %>
		</div>
	  </div>
	  <!-- <div class="row">
		<%#= f.label :subject, 'Subjek', class: 'col-xs-3' %>
		<div class="col-xs-6">
		  <%#= f.text_field :subject, class: 'form-control' %>
		</div>
	  </div> -->

	  <hr>

	  <h4>DATA PENGARANG & PENERBIT</h4><br/>
	  <div class="row">
		<%= f.label :author, 'Pengarang', class: 'col-xs-3' %>
		<div class="col-xs-6">
		  <%= f.text_field :author, class: 'form-control' %>
		</div>
	  </div>
	  <div class="row">
		<%= f.label :publisher, 'Penerbit', class: 'col-xs-3' %>
		<div class="col-xs-6">
		  <%= f.text_field :publisher, class: 'form-control' %>
		</div>
	  </div>
	  <div class="row">
		<%= f.label :yop, 'Tahun Terbit', class: 'col-xs-3' %>
		<div class="col-xs-3">
		  <%= f.text_field :yop, class: 'form-control' %>
		</div>
	  </div>
	  <div class="row">
		<%= f.label :city, 'Kota', class: 'col-xs-3' %>
		<div class="col-xs-3">
		  <%= f.text_field :city, class: 'form-control' %>
		</div>
	  </div>
	  <!-- <div class="row">
		<%#= f.label :price, 'Harga', class: 'col-xs-3' %>
		<div class="col-xs-4">
		  <%#= f.text_field :price, class: 'form-control' %>
		</div>
	  </div> -->
	</div>
	<div class="modal-footer">
	  <div class="row">
		<div class="col-xs-2 pull-right">
		  <input type="submit" value="Ubah" class="btn btn-primary">
		</div>
	  </div>
	</div>
  <% end %>