<%= render 'shared/notice', notice: notice %>

<div class="box">
  <div class="box-header">
    <div class="row">
      <div class="box-tools">
        <div class="col-xs-6">
          <h3 class="box-title">Data Buku</h3>
        </div>
        <%= form_tag :search_books, method: :get, remote: true do %>
          <div class="col-xs-3 pull-right">
            <div class="input-group pull-right" style="width: 150px;">
              <%= text_field_tag :keywords, '', class: 'form-control input-sm pull-right', placeholder: 'Search' %>
              <div class="input-group-btn">
                <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="box-tools">
        <div class="col-xs-3">
          <%= link_to 'Tambah Buku', '#', id: 'AddBtn', class: "btn btn-success" %>
        </div>
      </div>
    </div>
  </div>
  <div class="box-body">
    <div class="dataTables_wrapper form-inline dt-bootstrap">
      <div class="row" id="data-table">
        <%= render 'books/shared/list' %>
      </div>

      <div class="row">
        <div class="col-sm-7 pull-right">
          <div class="dataTables_paginate paging_simple_numbers">
            <%= paginate @books %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'books/shared/form_popup' %>
<%= render 'shared/form_popup_container' %>