<div class="col-sm-12">
  <table class="table table-bordered table-striped dataTable" role="grid">
    <thead>
      <tr>
        <th>Buku</th>
        <th>Anggota</th>
        <th>Tanggal Peminjaman</th>
        <th>Tanggal Kembali</th>
        <th>Tanggal Pengembalian</th>
        <th>Total Denda</th>
      </tr>
    </thead>
    <tbody>
      <% @borrow_books.each do |borrow| %>
        <tr>
          <td><%= borrow.book.book_code %> | <%= borrow.book.title %></td>
          <td><%= borrow.member.nim %> | <%= borrow.member.firstname %> <%= borrow.member.lastname %></td>
          <td><%= borrow.borrow_date %></td>
          <td><%= borrow.return_date %></td>
          <td><%= borrow.return_book.return_date %></td>
          <td><%= borrow.return_book.total_fine %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <th>Buku</th>
        <th>Anggota</th>
        <th>Tanggal Peminjaman</th>
        <th>Tanggal Kembali</th>
        <th>Tanggal Pengembalian</th>
        <th>Total Denda</th>
      </tr>
    </tfoot>
  </table>
</div>