<div class="col-sm-12">

  <% unless @theses.blank? %>
    <table class="table table-bordered table-striped dataTable" role="grid">
      <thead>
        <tr>
          <% if !current_user.blank? && params[:controller] == "theses" %>
            <th><input type="checkbox"></th>
          <% end %>
          <th>Kode Skripsi</th>
          <th>Tahun</th>
          <th>Judul</th>
          <th>Kategori</th>
          <th>Penulis</th>
          <th>Pembimbing</th>
          <th>Media</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @theses.each do |thesis| %>
          <tr>
            <% if !current_user.blank? && params[:controller] == "theses" %>
              <td><%= check_box_tag :thesis_code, thesis.thesis_code %></td>
            <% end %>
            <td><%= thesis.thesis_code %></td>
            <td><%= thesis.year %></td>
            <td><%= thesis.title %></td>
            <td><%= thesis.category %></td>
            <td><%= thesis.author %></td>
            <td><%= thesis.guider1 %> | <%= thesis.guider2 %></td>
            <td><%= thesis.media %></td>
            <td>
              <%= link_to 'Detail', 'javascript:void(0)', class: "btn btn-primary btn-detail-#{thesis.id}", onclick: "CallDetail('#{thesis.id}')" %>
              <% if !current_user.blank? && params[:controller] == "theses" %>
                  <%= link_to '#', onclick: "CallContent('#{edit_thesis_path(thesis)}')", class: "btn btn-primary" do %>
                    <i class="fa fa-edit"></i>
                  <% end %>
                  <%= link_to thesis, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" do  %>
                    <i class="fa fa-trash"></i>
                  <% end %>
              <% end %>
            </td>
          </tr>
          <tr class="detail-<%= thesis.id %> hide">
            <td colspan="11">
              <div class="row">
                <div class="col-xs-10">
                  <h4><%= thesis.title %></h4>
                  <hr>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-4">
                  <div class="row">
                    <label class="col-xs-5">Kode Skripsi</label>
                    <div class="col-xs-7">
                      <%= thesis.thesis_code %>
                    </div>
                  </div>
                  <div class="row">
                    <label class="col-xs-5">Tahun</label>
                    <div class="col-xs-7">
                      <%= thesis.year %>
                    </div>
                  </div>
                  <div class="row">
                    <label class="col-xs-5">Kategori</label>
                    <div class="col-xs-7">
                      <%= thesis.category %>
                    </div>
                  </div>
                  <div class="row">
                    <label class="col-xs-5">Pembimbing 1</label>
                    <div class="col-xs-7">
                      <%= thesis.guider1 %>
                    </div>
                  </div>
                  <div class="row">
                    <label class="col-xs-5">Pembimbing 2</label>
                    <div class="col-xs-7">
                      <%= thesis.guider2 %>
                    </div>
                  </div>
                  <div class="row">
                    <label class="col-xs-5">Media</label>
                    <div class="col-xs-7">
                      <%= thesis.media %>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6">
                  <strong>Abstraksi</strong>
                  <hr>
                  <p><%= thesis.description %></p>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <% if !current_user.blank? && params[:controller] == "theses" %>
            <th><input type="checkbox"></th>
          <% end %>
          <th>Kode Skripsi</th>
          <th>Tahun</th>
          <th>Judul</th>
          <th>Kategori</th>
          <th>Penulis</th>
          <th>Pembimbing</th>
          <th>Media</th>
          <th colspan="3"></th>
        </tr>
      </tfoot>
    </table>
  <% else %>
    <p><%= !current_user.blank? && params[:controller] == "theses" ? "Tidak ada data" : "Data tidak ditemukan" %></p>
  <% end %>
</div>