.clear-padding {
	padding: 0;
}

.table {
	margin-top: 10px;
}

.pagination {
	float: right;
}

form .row,
.box-header .row,
#DetailData .row {
	margin: 10px 0;
}

.red {
	background: red;
}

.overlay {
	width: 100px;
    height: 100px;
    margin: 0 auto;
    font-size: 50px;
    text-align: center;
}