/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require vendor/bootstrap.min
 *= require vendor/font-awesome.min
 *= require_self
 */

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.catalog {
  background-color: #ffffff;
  border-color: #ffffff;
  border-bottom: 1px solid #eee;
  margin-bottom: 50px;
}

.banner {
  font-size: 20px;
}

.banner p {
  display: block;
  float: left;
  padding: 20px 5px;
}

.banner p span {
  font-size: 25px;
}

.banner .logo {
  display: block;
  float: left;
  width: 100px;
  margin-right: 50px;
}

#SearchResults {
  height: 500px;
  overflow-y: auto;
  margin-bottom: 50px;
}

#new_guest_book .row {
  margin: 10px 0;
}

#GuestBook {
  margin-top: 10px;
}