<div class="modal fade" id="Add" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Tambah Data</h4>
      </div>
      <%= form_for @borrow_book, html: { class: 'form-group' } do |f| %>
        <div class="modal-body">
          <%= f.hidden_field :borrow_code, value: SecureRandom.hex(4) %>
          <div class="row">
            <%= f.label :member_id, 'Anggota', class: 'col-xs-3' %>
            <div class="col-xs-9">
              <div class="form-group">
                <%= f.select :member_id, options_for_select(@members), { prompt: "- Pilih -" }, class: "form-control select2", style: "width: 100%;" %>
              </div>
            </div>
          </div>
          <div class="row">
            <%= f.label :book_id, 'Buku', class: 'col-xs-3' %>
            <div class="col-xs-9">
              <div class="form-group">
                <%= f.select :book_id, options_for_select(@books), { prompt: "- Pilih -" }, class: "form-control select2", style: "width: 100%;" %>
              </div>
            </div>
          </div>
          <div class="row">
            <%= f.label :borrow_date, 'Tanggal Peminjaman', class: 'col-xs-3' %>
            <div class="col-xs-9">
              <%= f.text_field :borrow_date, value: Time.now, class: 'form-control', 'data-inputmask' => "'alias': 'yyyy-mm-dd'", 'data-mask' => "", readonly: true %>
            </div>
          </div>
          <div class="row">
            <%= f.label :return_date, 'Tanggal Kembali', class: 'col-xs-3' %>
            <div class="col-xs-9">
              <%= f.text_field :return_date, value: (Time.now + 5.days), class: 'form-control', 'data-inputmask' => "'alias': 'yyyy-mm-dd'", 'data-mask' => "", readonly: true %>
            </div>
          </div>
          <hr>
          <div class="row">
            <h4>History Peminjaman Aktif</h4>
            <div class="col-xs-12" id="history">
              <p>Tidak ada history peminjaman Aktif</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="row">
            <div class="col-xs-2 pull-right">
              <input type="submit" value="Tambah" class="btn btn-primary">
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>