<% if @borrow_books.count >= BorrowBook::MAXBOOK %>
  <div class="alert alert-warning alert-dismissable">
    <h4><i class="icon fa fa-warning"></i> Peringatan!</h4>
    Anggota ini telah mencapai batas maximum peminjaman buku.
  </div>
<% end %>

<% unless @borrow_books.blank? %>
  <div class="col-sm-12">
    <table class="table table-bordered table-striped dataTable" role="grid">
      <thead>
        <tr>
          <th>Buku</th>
          <th>Tanggal Pinjam</th>
          <th>Tanggal Kembali</th>
          <th>Keterlambatan</th>
        </tr>
      </thead>
      <tbody>
        <% @borrow_books.each do |borrow| %>
          <tr>
            <td><%= borrow.book.book_code %> | <%= borrow.book.title %></td>
            <td><%= borrow.borrow_date %></td>
            <td><%= borrow.return_date %></td>
            <td class="<%= late(borrow) > 0 ? 'red' : '' %>"><%= late(borrow) %></td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th>Buku</th>
          <th>Tanggal Pinjam</th>
          <th>Tanggal Kembali</th>
          <th>Keterlambatan</th>
        </tr>
      </tfoot>
    </table>
  </div>
<% else %>
  <p>Tidak ada history peminjaman</p>
<% end %>