<div class="col-sm-12">
  <table class="table table-bordered table-striped dataTable" role="grid">
    <thead>
      <tr>
        <th>Buku</th>
        <th>Anggota</th>
        <th>Tanggal Pinjam</th>
        <th>Tanggal Kembali</th>
        <th>Keterlambatan</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @borrow_books.each do |borrow| %>
        <tr>
          <td><%= borrow.book.book_code %> | <%= borrow.book.title %></td>
          <td><%= borrow.member.nim %> | <%= borrow.member.firstname %> <%= borrow.member.lastname %></td>
          <td><%= borrow.borrow_date %></td>
          <td><%= borrow.return_date %></td>
          <td class="<%= late(borrow) > 0 ? 'red' : '' %>"><%= late(borrow) %></td>
          <td>
            <%= link_to '#', onclick: "CallContent('#{new_borrow_book_return_book_path(borrow)}')", class: "btn btn-primary" do %>
              <i class="fa fa-refresh"></i>
            <% end if borrow.return_book.blank?  %>
            <%= link_to '#', onclick: "CallContent('#{borrow_book_return_book_path(id: borrow.return_book.id, borrow_book_id: borrow.id)}')", class: "btn btn-success" do %>
              <i class="fa fa-eye"></i>
            <% end unless borrow.return_book.blank? %>
          </td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <th>Buku</th>
        <th>Anggota</th>
        <th>Tanggal Pinjam</th>
        <th>Tanggal Kembali</th>
        <th>Keterlambatan</th>
        <th></th>
      </tr>
    </tfoot>
  </table>
</div>