<div class="col-sm-12">
  <% unless @books.blank? %>
    <table class="table table-bordered table-striped dataTable" role="grid">
      <thead>
        <tr>
          <% if !current_user.blank? && params[:controller] == "books" %>
            <th><input type="checkbox"></th>
          <% end %>
          <th>Kode Buku</th>
          <th>Judul</th>
          <th>Pengarang</th>
      		<% if !current_user.blank? && params[:controller] == "books" %>
      			<th>Penerbit</th>
      			<th>Tahun</th>
      			<th>Sumber</th>
      			<th colspan="3"></th>
          <% else %>
            <th>No Rak</th>
            <th>Jumlah Buku</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @books.each do |book| %>
          <tr>
            <% if !current_user.blank? && params[:controller] == "books" %>
              <td><%= check_box_tag :book_code, book.book_code %></td>
            <% end %>
            <td><%= book.book_code %></td>
            <td><%= book.title %></td>
            <td><%= book.author %></td>
      		  <% if !current_user.blank? && params[:controller] == "books" %>
        			<td><%= book.publisher %></td>
        			<td><%= book.yop %></td>
        			<td><%= book.resource %></td>
              <td>
                <%= link_to 'Detail', 'javascript:void(0)', class: "btn btn-primary btn-detail-#{book.id}", onclick: "CallDetail('#{book.id}')" %>
                <%= link_to '#', onclick: "CallContent('#{edit_book_path(book)}')", class: "btn btn-primary" do %>
                  <i class="fa fa-edit"></i>
                <% end %>
                <%= link_to book, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" do %>
                  <i class="fa fa-trash-o"></i>
                <% end %>
                <%= link_to generate_barcode_book_path(book), id: 'AddBtn', class: "btn btn-success", target: "_blank" do %>
                  <i class="fa fa-barcode"></i>
                <% end %>
              </td>
            <% else %>
              <td><%= book.class_no %></td>
              <td><%= count_current_book(book) %></td>
            <% end %>
          </tr>
          <% if !current_user.blank? && params[:controller] == "books" %>
            <tr class="detail-<%= book.id %> hide">
              <td colspan="10">
                <!-- <div class="container"> -->
                  <div class="row">
                    <div class="col-xs-6">
                      <fieldset>
                        <legend>Data Buku</legend>
                        <div class="row">
                          <label class="col-xs-3">Kode Buku</label>
                          <div class="col-xs-9">
                            <%= book.book_code %>
                          </div>
                        </div>
                        <div class="row">
                          <label class="col-xs-3">ISBN</label>
                          <div class="col-xs-9">
                            <%= book.isbn %>
                          </div>
                        </div>
                        <div class="row">
                          <label class="col-xs-3">Judul Buku</label>
                          <div class="col-xs-9">
                            <%= book.title %>
                          </div>
                        </div>
                        <div class="row">
                          <label class="col-xs-3">Jenis Buku</label>
                          <div class="col-xs-9">
                            <%= book.book_type.name %>
                          </div>
                        </div>
                        <div class="row">
                          <label class="col-xs-3">No Rak</label>
                          <div class="col-xs-9">
                            <%= book.class_no %>
                          </div>
                        </div>
                        <div class="row">
                          <label class="col-xs-3">Bahasa</label>
                          <div class="col-xs-9">
                            <%= book.language %>
                          </div>
                        </div>
                        <div class="row">
                          <label class="col-xs-3">Jumlah Buku</label>
                          <div class="col-xs-9">
                            <%= book.exptotal %> (Exemplar)
                          </div>
                        </div>
                        <div class="row">
                          <label class="col-xs-3">Sumber</label>
                          <div class="col-xs-9">
                            <%= book.resource %>
                          </div>
                        </div>
                      </fieldset>
                      <br/>
                      <fieldset>
                        <legend>Data Pengarang & Penerbit</legend>
                        <div class="row">
                          <label class="col-xs-3">Pengarang</label>
                          <div class="col-xs-9">
                            <%= book.author %>
                          </div>
                        </div>
                        <div class="row">
                          <label class="col-xs-3">Penerbit</label>
                          <div class="col-xs-9">
                            <%= book.publisher %>
                          </div>
                        </div>
                        <div class="row">
                          <label class="col-xs-3">Tahun Terbit</label>
                          <div class="col-xs-9">
                            <%= book.yop %>
                          </div>
                        </div>
                        <div class="row">
                          <label class="col-xs-3">Kota</label>
                          <div class="col-xs-9">
                            <%= book.city %>
                          </div>
                        </div>
                        <div class="row">
                          <label class="col-xs-3">Tahun Terbit</label>
                          <div class="col-xs-9">
                            <%= book.yop %>
                          </div>
                        </div>
                      </fieldset>

                    </div>
                    <div class="col-xs-3 pull-right">
                      <br/>
                      <%= image_tag book.attachment.url, class: "img-responsive img-thumbnail" %>
                    </div>
                  </div>
                <!-- </div> -->
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <% if !current_user.blank? && params[:controller] == "books" %>
            <th><input type="checkbox"></th>
          <% end %>
          <th>Kode Buku</th>
          <th>Judul</th>
          <th>Pengarang</th>
          <% if !current_user.blank? && params[:controller] == "books" %>
      			<th>Penerbit</th>
      			<th>Tahun</th>
      			<th>Sumber</th>
      			<th colspan="3"></th>
          <% else %>
            <th>No Rak</th>
            <th>Jumlah Buku</th>
          <% end %>
        </tr>
      </tfoot>
    </table>
  <% else %>
    <p><%= !current_user.blank? && params[:controller] == "books" ? "Tidak ada data" : "Data tidak ditemukan" %></p>
  <% end %>
</div>