<div class="modal fade" id="Add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title" id="myModalLabel">Tambah Data</h3>
      </div>
      <%= form_for @member, html: { class: 'form-group' } do |f| %>
        <div class="modal-body">
          <div class="row">
            <%= f.label :nim, 'NIM', class: 'col-xs-3' %>
            <div class="col-xs-4">
              <%= f.text_field :nim, class: 'form-control' %>
            </div>
          </div>
          <div class="row">
            <%= f.label :firstname, 'Nama Depan', class: 'col-xs-3' %>
            <div class="col-xs-9">
              <%= f.text_field :firstname, class: 'form-control' %>
            </div>
          </div>
          <div class="row">
            <%= f.label :lastname, 'Nama Belakang', class: 'col-xs-3' %>
            <div class="col-xs-9">
              <%= f.text_field :lastname, class: 'form-control' %>
            </div>
          </div>
          <div class="row">
            <%= f.label :pob, 'Tempat Lahir', class: 'col-xs-3' %>
            <div class="col-xs-9">
              <%= f.text_field :pob, class: 'form-control' %>
            </div>
          </div>
          <div class="row">
            <%= f.label :dob, 'Tanggal Lahir', class: 'col-xs-3' %>
            <div class="col-xs-4">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </div>
                <%= f.text_field :dob, class: 'form-control', 'data-inputmask' => "'alias': 'yyyy/mm/dd'", 'data-mask' => "" %>
              </div>
            </div>
          </div>
          <div class="row">
            <%= f.label :gender, 'Jenis Kelamin', class: 'col-xs-3' %>
            <div class="col-xs-9">
              <%= f.select :gender, options_for_select(@gender), {}, class: "form-control" %>
            </div>
          </div>
          <div class="row">
            <%= f.label :address, 'Alamat', class: 'col-xs-3' %>
            <div class="col-xs-9">
              <%= f.text_area :address, class: "form-control" %>
            </div>
          </div>
          <div class="row">
            <%= f.label :phone, 'Telepon', class: 'col-xs-3' %>
            <div class="col-xs-9">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-phone"></i>
                </div>
                <%= f.text_field :phone, class: 'form-control', 'data-inputmask' => "'mask': ['9999999999[99999]', '+099 99 99 9999[9]-9999']", 'data-mask' => "" %>
              </div>
            </div>
          </div>
          <div class="row">
            <%= f.label :active_period, 'Masa Aktif', class: 'col-xs-3' %>
            <div class="col-xs-4">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </div>
                <%= f.text_field :active_period, value: (Time.now + (4).years), class: 'form-control', 'data-inputmask' => "'alias': 'yyyy/mm/dd'", 'data-mask' => "" %>
              </div>
            </div>
          </div>
          <div class="row">
            <%= f.label :status, 'Active', class: 'col-xs-3' %>
            <div class="col-xs-3">
              <%= f.check_box :status, class: 'form-control' %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="row">
            <div class="col-xs-2 pull-right">
              <input type="submit" value="Tambah" class="btn btn-primary">
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>