<div class="col-sm-12">
  <table class="table table-bordered table-striped dataTable" role="grid">
    <thead>
      <tr>
        <th><input type="checkbox"></th>
        <th>NIM</th>
        <th>Nama</th>
        <th>Telepon</th>
        <th>Masa Aktif</th>
        <th>Status</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @members.each do |member| %>
        <tr>
          <td><%= check_box_tag :id, member.id %></td>
          <td><%= member.nim %></td>
          <td><%= member.firstname %> <%= member.lastname %></td>
          <td><%= member.phone %></td>
          <td><%= member.active_period %></td>
          <td><%= member.status ? 'Aktif' : 'Non Aktif' %></td>
          <td>
            <%= link_to 'Detail', 'javascript:void(0)', class: "btn btn-primary btn-detail-#{member.id}", onclick: "CallDetail('#{member.id}')" %>

            <%= link_to '#', onclick: "CallContent('#{edit_member_path(member)}')", class: 'btn btn-primary' do %>
              <i class="fa fa-edit"></i>
            <% end %>

            <%= link_to member, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' do %>
              <i class="fa fa-trash-o"></i>
            <% end %>

            <%= link_to generate_card_member_path(member), id: 'AddBtn', class: "btn btn-success", target: "_blank" do %>
              <i class="fa fa-print"></i>
            <% end %>
          </td>
        </tr>
        <tr class="detail-<%= member.id %> hide">
          <td colspan="10">
            <div class="row">
              <div class="col-xs-9">
                <h4><%= member.firstname %> <%= member.lastname %></h4>
                <hr>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-9">
                <div class="row">
                  <div class="col-xs-6">
                    <div class="row">
                      <label class="col-xs-3">NIM</label>
                      <div class="col-xs-9">
                        <%= member.nim %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6">
                    <div class="row">
                      <label class="col-xs-3">Tempat Lahir</label>
                      <div class="col-xs-9">
                        <%= member.pob %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6">
                    <div class="row">
                      <label class="col-xs-3">Tanggal Lahir</label>
                      <div class="col-xs-9">
                        <%= member.dob %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6">
                    <div class="row">
                      <label class="col-xs-3">Jenis Kelamin</label>
                      <div class="col-xs-9">
                        <%= member.gender %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6">
                    <div class="row">
                      <label class="col-xs-3">Alamat</label>
                      <div class="col-xs-9">
                        <%= member.address %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6">
                    <div class="row">
                      <label class="col-xs-3">Telepon</label>
                      <div class="col-xs-9">
                        <%= member.phone %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6">
                    <div class="row">
                      <label class="col-xs-3">Masa Aktif</label>
                      <div class="col-xs-9">
                        <%= member.active_period %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-2">
              <%= link_to 'Cetak Kartu Anggota', generate_card_member_path(member), id: 'AddBtn', class: "btn btn-success" %>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <th><input type="checkbox"></th>
        <th>NIM</th>
        <th>Nama</th>
        <th>Telepon</th>
        <th>Masa Aktif</th>
        <th>Status</th>
        <th colspan="3"></th>
      </tr>
    </tfoot>
  </table>
</div>