<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title>Perpustakaan FIKI</title>
    <%#= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" %>
    <%= stylesheet_link_tag "https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" %>
    <%= stylesheet_link_tag	'application', media: 'all', 'data-turbolinks-track' => true %>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  	<%= csrf_meta_tags %>
	</head>
	<body class="skin-blue layout-boxed sidebar-mini wysihtml5-supported">
    <div class="wrapper">
      <%= render "shared/header" %>
      <%= render "shared/sidebar" %>
      <div class="content-wrapper">
        <%#= render "shared/breadcumb" %>
        <section class="content">
          <%= yield %>
        </section>
      </div>
      <footer class="main-footer">
        <div class="pull-right hidden-xs">
          <b>Version</b> BETA
        </div>
        <strong>Perpustakaan Fakultas Ilmu Komputer dan Informatika</strong>
      </footer>
    </div>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <% if params[:controller] == "dashboard" %>
      <script type="text/javascript">
        $(function () {
          /*
           * BAR CHART
           * ---------
           */

          var bar_data = {
            data: <%= raw( BorrowBook.group("MONTH(borrow_date)").count.map {|b| [b[0], b[1]] }) %>,
            color: "#3c8dbc"
          };
          $.plot("#bar-chart", [bar_data], {
            grid: {
              borderWidth: 1,
              borderColor: "#f3f3f3",
              tickColor: "#f3f3f3"
            },
            series: {
              bars: {
                show: true,
                barWidth: 0.5,
                align: "center"
              }
            },
            xaxis: {
              mode: "categories",
              tickLength: 0
            }
          });
          /* END BAR CHART */
        });
      </script>
    <% end %>
	</body>
</html>