<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Perpustakaan FIKI</title>

    <%= stylesheet_link_tag "https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" %>
    <%= stylesheet_link_tag 'marketings', media: 'all', 'data-turbolinks-track' => true %>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body class="wysihtml5-supported">

    <div class="container">
      <!-- Static navbar -->
      <nav class="navbar navbar-default catalog">
        <div class="container-fluid">
          <div class="navbar-header">
            <div class="banner">
              <%= image_tag 'logo.gif', class: 'logo' %>
              <p>
                <span>UNIVERSITAS NURTANIO BANDUNG</span><br/>
                <strong>PERPUSTAKAAN FAKULTAS ILMU KOMPUTER DAN INFORMATIKA</strong>
              </p>
            </div>
          </div>
        </div><!--/.container-fluid -->
      </nav>
      <div class="row">
        <div class="col-xs-12">
          <ul class="nav nav-tabs pull-right">
            <li class="active">
              <%= link_to "#home", data: { toggle: "tab" } do %>
                <i class="fa fa-book"></i> Katalog
              <% end %>
            </li>
            <li>
              <%= link_to "#GuestBook", data: { toggle: "tab" } do %>
                <i class="fa fa-user"></i> Buku Tamu
              <% end %>
            </li>
            <li>
              <%= link_to new_user_session_path do %>
                <i class="fa fa-sign-in"></i> Masuk
              <% end %>
            </li>
          </ul>
        </div>
      </div>

      <div class="tab-content">
        <%= yield %>
      </div>

      <hr>
      <footer class="main-footer">
        <div class="pull-right hidden-xs">
          <b>Version</b> BETA
        </div>
        <strong>Perpustakaan Fakultas Ilmu Komputer dan Informatika</strong>
      </footer>
    </div> <!-- /container -->
  </body>
</html>
