
<table style="border: 1px solid #555;">
	<thead>
		<tr>
			<td>
				<%= wicked_pdf_image_tag 'logo.gif', style: 'width: 50px;' %>
			</td>
			<td style="padding: 5px 10px; text-align: center; text-transform: uppercase">
				<strong>Universitas Nurtanio Bandung</strong>
				<br/>
				<span>Kartu Anggota Perpustakaan</span>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<hr>
			</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td colspan="2" style="padding: 5px 10px 0; text-align: center; text-transform: uppercase"><%= member.firstname %> <%= member.lastname %></td>
		</tr>
		<tr>
			<td colspan="2" style="padding: 0 10px 0; text-align: center; text-transform: uppercase"><%= member.nim %></td>
		</tr>
		<tr>
			<td colspan="2" style="padding: 0 10px 0; text-align: center; text-transform: uppercase;">
				<%= wicked_pdf_image_tag "/downloads/barcode/members/#{member.nim}.png", style: 'width: 200px; height: 50px; background: #000; margin: 5px auto' %>
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="2" style="text-align:center;">
				<small>Aktif: <%= member.active_period %></small>
			</td>
		</tr>
	</tfoot>
</table>