<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <p><%= devise_error_messages! %></p>

    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Registrasi</h3>
      </div><!-- /.box-header -->
      <!-- form start -->
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="box-body">
          <div class="form-group">
            <%= f.label :email, "Email Address" %>
            <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Enter email"  %>
          </div>
          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Password Confirmation" %>
          </div>
        </div><!-- /.box-body -->

        <div class="box-footer">
          <%= f.submit "Sign up", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div><!-- /.box -->
  </div>
</div>